<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <section class="wrapper">
        <div class="wrapper-content-box">
            <header>
                <h1 class="main-heading">Weather App</h1>
            </header>
            <div class="forms-container">
                <form class="form-box" action="/results" method="POST">
                    <input class="input input-top" type="text" placeholder="Enter country" name="country" />
                    <input class="input input-bottom" type="text" placeholder="Enter city" name="city" />
                    <button class="submit-btn" type="submit">Submit</button>
                </form>
            </div>
            <div class="temp-pic-container">
                <div class="whole-content-box">
                    <div class="temp-pic-box">
                        <div class="move-c-logo">
                            <h1 class="temp-heading">{{temperture}}<span class="c-logo">{{celcius}}</span> </h1>
                        </div>
                        <img class="weather-img" src={{picture}} />
                    </div>
                    <h1 class="description">{{des}}</h1>
                </div>
            </div>

            <div class="seven-day-link">
                <a href="/sevendays">Click to see the seven day forcast</a>
            </div>
        </div>
    </section>
</body>

</html>